* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

img.active {
    display: block;
}

img:not(img.active) {
    display: none;
}

.slides {
    height: 400px;
}

.fs-40 {
    font-size: 40px;
} 